.home {
  padding: 20px;
  margin-top: 10px;
}
.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 400px;
  background: url("https://placehold.co/1920x1080") no-repeat center
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 10;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-section .cta-button {
  cursor: pointer;
  background-color: #047857; /* Tailwind green-600 */
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
  background-color: #065f46; /* Tailwind green-700 */
}

.featured-products h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
